<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=
   , initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   {{!-- Burger Favicon! --}}
   <link rel="icon" href="./assets/img/favicon.ico">

   {{!-- Bootstrap --}}
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

   {{!-- Google Fonts --}}
   <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">

   {{!-- My Css --}}
   <link rel="stylesheet" type="text/css" href="./assets/css/burger_style.css">
   <title>Eat Me!</title>
</head>

<body>
   <div class="container">
      <center><img src="./assets/img/Sellieees burger.jpg" height="300px" "style=margin:0 auto"></center>
   </div>

   {{!-- Add content from index.handlebars --}}
   {{{body}}}

   {{!-- Create the burger --}}
   <br>
   <hr>
   <br>
   <form action="burgers/create" method="POST">
      <div class="row">
         <div class="col-sm-12">
            <center>
               <label for="create-burger" id="burger-label">Create your burger and be ready to taste test your
                  creation!</label>
               <textarea class="form-control" columns="8" rows="4" id="new-burger" name="burger_name"></textarea>
               <br>
               <button id="submit-button" type="submit" class="btn btn-danger">Create your burger!</button>
         </div>
      </div>
      </center>
   </form>
   {{!-- <script>
      $(document).ready(function () {
         $("#submit-button").on("click", function (event) {
            event.preventDefault();
            var newBurger = {
               name: $("#create-burger").val().trim()
            };
            $.ajax("/burgers/create", {
               type: "POST",
               data: newBurger
            }).then(function () {
               console.log("New burger created!");
            });
            window.location.reload();
         });
      });
   </script> --}}
</body>

</html>